.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  display: block;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  margin-top: 20px;
}

.button:hover {
  border-color: #222;
}

.heading {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  margin-bottom: 16px;
}

.notice {
  text-align: center;
}
